#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
}

.form {
  max-width: 55vw;
  min-width: 50vh;
  min-height: 90vh;
  background-color: hsl(0, 0%, 8%);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.avatar {
  height: 10em;
  padding: 0.7em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
}
.avatar:hover {
  filter: drop-shadow(0 0 2em #64fff5);
}

.read-intructions {
  line-height: 1;
  font-size: 14px;
  color: #888;
}

p1 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
}

p2 {
  font-size: 14px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  line-height: 3;
}

p3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 4;
}
